<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358500086074-qq4co5it9rf0a0osi980sgr35lm7j9bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358500086074-qq4co5it9rf0a0osi980sgr35lm7j9bs</string>
	<key>API_KEY</key>
	<string>AIzaSyBuRIl1sXA6sTJ3EMOul97vHLjE29-YOQM</string>
	<key>GCM_SENDER_ID</key>
	<string>358500086074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLockAuth01.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-test001-54056</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-test001-54056.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358500086074:ios:c4cf51a4e344a6bfe46003</string>
</dict>
</plist>